{% extends "base.html" %}

{% block content %}

<div class="card mb-3">
    <br>
    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" style="max-width: 1000px; display: block; margin: 0 auto;" >
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text"><small class="text-body-secondary">&nbsp {{ post.created_at|date:"d M Y" }}</small></p>
        <p class="card-text"><small class="text-body-secondary">&nbsp Автор: {{ post.author.username }}</small></p>
        <p class="card-text"><small class="text-body-secondary">&nbsp Категория: {{ post.category.title }}</small></p>

        <a href="{{ back_to }}" class="btn btn-primary">Вернуться назад</a>
    </div>
</div>

{% endblock %}